.about_us_heading {
  margin-bottom: 3vh;
}
.about-us-box {
  border-radius: 1rem;
  background-color: $green-bigfoot;
  text-align: center;
  /*color: set-text-color($body-background-light);*/
  box-shadow: 0 0 48px -12px rgba(0, 0, 0, 0.1);
  padding-top: 3vh;
  padding-bottom: 3vh;

  &-content {
    margin: 0 5.5vw;
    color: #FFFFFF;
    font-size: 16px;

    h2 {

      font-size: 3em;
      font-family: $font-style-bebas;
      letter-spacing: 0;
      //line-height: 58px;
    }

    p {
      font-size: 16px;

      @include respond-above(lg) {
        font-size: 19px;
      }

      @include respond-above(xl) {
        font-size: 22px;
      }

      font-weight: 500;
      letter-spacing: 0;
      text-align: center;
      font-family: $font-style-montserrat
    }
  }
}