@import "block-corporate-events";

section#addons {
  padding-bottom: 100px;

  @include respond-below(sm) {
    padding-bottom: 70px;
  }
}

.add-ons-heading {
  color: $black-bigfoot;
  font-family: "Bebas Neue", sans-serif;
  font-size: 72px;
  text-align: right;
  margin-top: 40px;
  margin-bottom: 40px;
  @include respond-below(sm) {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 34px;
  }
}

.addon {
  margin-top: 20px;
  @include respond-below(sm) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @include respond-above(lg) {
    &:nth-child(even) {
      margin-bottom: -20px;
    }

    &:nth-last-child(2) {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

.side-label-container {
  position: absolute;
  top: 60%;
  left: 20px;

  @include respond-below(xxl) {
    display: none;
  }
}

.addon-side-label {
  @extend %rotated_left;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: $font-style-bebas;
  @include transparent_text($green-bigfoot, 1px);
  font-size: 150px;

  @media (min-width: 1500px) {
    font-size: 175px;
  }

  line-height: 0.9;

}

.addon-card-container {
  border-radius: 20px;
  padding-bottom: 6%;
  padding-top: 5%;
  box-shadow: 0 24px 48px -12px rgba(0, 0, 0, 0.1);
  justify-content: center;
  width: 100%;

}

.addon-card {
  margin: 1em auto;
  height: 100%;
  width: 100%;
}

.addon-name {
  font-family: $font-style-bebas;
  text-align: center;
  margin: 2vh 0 1vh 0;
}

.addon-image {
  border-radius: 5px;
  margin: 0;

  @include respond-above(lg) {
    border-radius: 10px;
  }

  @include respond-above(lg) {
    max-width: 410px;
    max-height: 250px;
  }
  /*max-width: 410px;
  max-height: 250px;*/
}

.addon-description {
  font-family: $font-style-lato;
  font-size: 1em;
  @include respond-above(md) {
    font-size: 1.05em;
  }
  margin-top: 2px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  color: $obsidian-black-bigfoot;
  letter-spacing: -0.38px;

}

// Mobile
@include respond-below(sm) {
  .addon-image {
    max-width: 335px;
    max-height: 210px;
  }

  .addon-description {
    width: 60%;
  }

}