.corporate-custom-quotes-block {
  margin: 3% auto;
}


.corporate-events-box {
  border-radius: 1.2rem;
  background: linear-gradient(225.69deg, #008282 0%, #FF525B 100%);
  box-shadow: 0 24px 48px -12px rgba(0,0,0,0.14);
}

.corporate-events-block-heading {
  color: #FFFFFF;
  font-family: $font-style-bebas;
  font-size: 3.5rem;

  @include respond-above(md) {
    font-size: 4rem;
  }

  @include respond-above(xl) {
    font-size: 4.5rem;
  }
  letter-spacing: 0;
  line-height: 6rem;
  text-align: center;
}

.corporate-events-block-btn {
  font-family: $font-style-bebas;
  font-size: 1.5em;
  padding: 0.2em 1.1em;
  margin: auto auto;
  font-weight: bold;
  letter-spacing: 1.41px;
  line-height: 1.8125;
  text-align: center;
  color: $orange-bigfoot !important;
  text-wrap: none;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 10px 0 rgba(23,38,50,0.1);

  &:hover {
    text-decoration: underline;
  }
}