@mixin shadowed-button($text-color, $background_color) {
  box-shadow: 0 5px 10px 0 rgba(23, 38, 50, 0.2);
  @include create_bigfoot_button($text-color, $background_color, $background_color);
  @include font-size(2.125rem);

}

.booth-container {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include respond-above(md) {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  @include respond-above(lg) {
    padding-top: 4.6875rem;
    padding-bottom: 4.6875rem;
  }
}

.booth-vertical-caption {
  @extend %side_label_layout;

}

.booth-slider-container {
  max-height: 340px;
  max-width: 650px;

  @media(max-width: 425px) {
    max-width: 100%;
    max-height: 263px;
  }

}

.booth-type {
  .booth-name {
    @extend %bigfoot-big-heading;

    font-weight: 400;
    color: #131415;

  }

  .booth-description {
    color: #131415;
    font-family: $font-style-lato;
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.4;
  }

  .booth-label-image {
    object-fit: cover;

  }

  .booth-image {
    object-fit: cover;
  }

  .bigfoot-btn {
    color: #FFFFFF;

  }

  &:nth-child(odd) {
    background-color: $light-gray-bigfoot-f6;
    .bigfoot-btn {
      @include shadowed-button($calcite-white-bigfoot, $red-bigfoot);
    }
  }

  &:nth-child(even) {
    background-color: $calcite-white-bigfoot;
    .bigfoot-btn {
      @include shadowed-button($calcite-white-bigfoot, $cyan-bigfoot);
    }
  }

  // slider border radius
  .n2-padding > div[id^="n2-ss"] {
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    background-color: transparent !important;
    background: none;
  }
}

div.nextend-arrow-previous {

  > img.n2-ow {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}






