$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px
);

$container-max-widths: (
        /*xs: 540px,
        sm: 680px,
        md: 820px,
        lg: 1040px,
        xl: 1120px,*/
        xxl: 1180px
);
