@mixin create-bigfoot-btn($btn-text-color) {
  @include respond-below(sm) {
    max-width: 205px;
    max-height: 70px;
  }
  color: $btn-text-color;
  font-family: $font-style-bebas;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-align: center;
  /*padding: 0 1ch;*/
  max-width: 310px;
  max-height: 60px;
  width: 100%;
}

@mixin bigfoot-icon-responsive() {

}

%bigfoot-btn {
  /*@include button-variant()*/
  @include respond-below(sm) {
    max-width: 205px;
    max-height: 70px;
  }
  font-family: $font-style-bebas;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-align: center;
  /*padding: 0 1ch;*/
  max-width: 310px;
  max-height: 60px;
  width: 100%;


  /* height: 100%;
   width: 100%;*/
}

@mixin create_bigfoot_button($color, $background, $border) {
  @include create-bigfoot-btn($color);
  @include button-variant($background, $border);
  @include font-size(32px);
  display: flex;
  align-items: center;
  justify-content: center;
}


.slider-arrow-container {
  align-self: center !important;
  min-height: 24px !important;
  min-width: 24px !important;
  height: 24px !important;
  width: 24px !important;

  @include respond-above(md) {
    height: 28px !important;
    width: 28px !important;
  }

  @include respond-above(xl) {
    height: 32px !important;
    width: 32px !important;
  }

  > img {
    align-self: center !important;
    min-height: 24px !important;
    min-width: 24px !important;
    height: 24px !important;
    width: 24px !important;

    @include respond-above(md) {
      height: 28px !important;
      width: 28px !important;
    }

    @include respond-above(xl) {
      height: 32px !important;
      width: 32px !important;
    }
  }

}


.slider-arrow-container-next {
  @extend .slider-arrow-container;
}

.slider-arrow-container-previous {
  @extend .slider-arrow-container;

  > img {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

}

