section#contact-us {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.phone-text {
  color: $obsidian-black-bigfoot;
  font-family: $font-style-bebas;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.45;
  align-items: center;
  @include font-size(1.625rem);

  @include respond-below(sm) {
    font-size: 1rem;
    align-self: center;
    vertical-align: middle;
    font-weight: 200;
  }
  @include respond-above(lg) {
    margin-top: 3.5vw;
  }

  .phone-image {
    margin-right: 1ch;
  }
  .phone-number {
    @include font-size(1.625rem);
    color: $obsidian-black-bigfoot;
    font-family: $font-style-bebas;
    text-decoration: underline;
    font-weight: bold;
  }
}

.contact-us-heading {
  @extend %bigfoot-big-heading-nosize;
  font-size: 32px;

  @include respond-above(md) {
    padding-top: 3vh;
  }

  @include respond-above(sm) {
    font-size: 45px;
  }

  @include respond-above(md) {
    font-size: 70px;
  }

  @include respond-above(lg) {
    max-width: 95%;
    font-size: 80px;
  }
}

.contact-form-container {
  label.wpforms-field-label {
    display: none;
  }

  .bigfoot-contact-form {
    .bigfoot-form-field {
      margin: 16px 0;
      border: none;

      textarea {
        min-height: 200px;
        margin: 0;
        resize: none; // da se sklone crtice u donjem desnom uglu
      }

      input,
      textarea {
        border: 1px solid #d2d2d2 !important;
        box-sizing: border-box !important;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 1em;
        color: $dark-gray-bigfoot;
        font-family: $font-style-lato;
        line-height: 1.1875;

        font-size: 16px;
        @include respond-above(md) {
          font-size: 18px;
        }
        font-weight: 600;
        letter-spacing: 0;

        &:focus {
          outline: none;
          background: linear-gradient($calcite-white-bigfoot, $calcite-white-bigfoot) padding-box,
            linear-gradient(to right, $green-bigfoot, $red-bigfoot) border-box !important;
          border: 2px solid transparent !important;
          align-self: center !important;
        }

        &:not(:placeholder-shown):not(:focus) {
          color: $dark-gray-bigfoot !important;
          background-color: $calcite-white-bigfoot;
          border: 1px solid $obsidian-black-bigfoot !important;
        }

        &::-webkit-input-placeholder {
          /* Edge */
          opacity: 0.47;
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          opacity: 0.47;
        }

        &::placeholder {
          opacity: 0.47;
        }
      }
    }
  }

  .wpforms-error {
    size: 12px;
    font-family: $font-style-lato;
  }

  button.bigfoot-contact-form-btn {
    @extend .gradient-btn;
    margin: 0 auto;
    align-self: center;
    height: 55px !important;
    display: block;
    width: 280px;
    font-size: 20px;
    font-family: $font-style-lato;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.25;
    padding-left: 0;
    padding-right: 0;
    border-left: 2px;
    border-right: 2px;
    opacity: 0.75;
    text-align: center;

    &:hover {
      opacity: 1;
      color: $calcite-white-bigfoot;
    }

    @include respond-below(md) {
      width: 225px !important;
    }
  }

  // wp-inserted
  .wpforms-field.wpforms-field-hp {
    display: none;
  }

  .wpforms-confirmation-container p {
    @extend %section_heading;
    @include font-size(3rem);
    color: $green-bigfoot;

    @include respond-below(md) {
      font-size: 36px;
      margin-top: 80px;
    }
  }
}

.bigfoot-contact-form-dropdown {
  select {
    font-size: 18px;
    width: 100%;
    padding: 1em;
    border: 1px solid #d2d2d2 !important;
    box-sizing: border-box !important;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
    color: #bfbfbf;
    font-weight: 600;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1.1875;
    letter-spacing: 0;
    option {
      color: #172632;
      font-weight: 600;
      font-family: "Lato", sans-serif;
      font-size: 18px;
      padding: 1em;
      line-height: 1.1875;
      letter-spacing: 0;
    }
  }
  .wpforms-valid {
    color: #172632;
    border: 1px solid #172632 !important;
  }
}

.bigfoot-contact-form-radio-select {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 15px;
  .wpforms-field-description {
    font-family: "Lato", sans-serif;
    color: #172632;
    font-weight: 600;
    line-height: 1.1875;
    letter-spacing: 0;
    font-size: 18px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    list-style: none;
    padding: 0;
    li {
      padding-right: 15px;
      padding-bottom: 10px;
      label {
        margin: 0;
        font-family: "Lato", sans-serif;
        color: #172632;
        font-weight: 600;
        line-height: 1.1875;
        letter-spacing: 0;
        font-size: 18px;
      }
    }
  }
}
