/* Kad idu ove browser specific stvari, npr?
 -moz-filter: grayscale(50%);
 -webkit-filter: grayscale(50%);
 filter: grayscale(50%);*/


// Sass Interpolation - za kasnije
/*A property’s name can include interpolation,
which makes it possible to dynamically generate properties as needed.
You can even interpolate the entire property name!*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}


$hero-background: linear-gradient(129.7deg, #008282 16%, #FF525B 100%);
$linear-gradient: linear-gradient(129.7deg, #008282 16%, #FF525B 100%);
$light-gray-bigfoot: #F9F9F9;
$dark-gray-bigfoot: #172632;
$light-gray-bigfoot-f6: #F6F6F6;
$dark-white-bigfoot: #D2D2D2;
$calcite-white-bigfoot: #FFFFFF;
$cyan-bigfoot: #27AEAE;
$red-bigfoot: #F9535B;
$orange-bigfoot: #F9535C;
$green-bigfoot: #008081;
$dark-blue-bigfoot: #172632;
$black-bigfoot: #131415;
$background-faq: #F7F7F7;
$gradient-service: linear-gradient(180deg, #008282 0%, #FF525B 100%);
$obsidian-black-bigfoot: #000000;
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;

@mixin transparent_text($color : $obsidian-black-bigfoot, $text-stroke-width) {
  -webkit-text-stroke-color: $color;
  -webkit-text-stroke-width: $text-stroke-width;
  -webkit-text-fill-color: transparent;
}

.swiper-container.swiper-overflow-visible {
  overflow: visible;
}
