.gradient-btn {
    border: double 1px transparent;
    border-radius: 10px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #008282 16%, #ff525b 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    &:hover {
        background-image: linear-gradient(transparent, transparent),
            radial-gradient(circle at top left, #008282 16%, #ff525b 100%);
        button {
            color: #ffffff;
        }
    }
    button {
        border: none;
        background: transparent;
        color: #131415;
    }
}

.gradient-btn-thick-border {
    border: double 3px transparent;
}


