.carousel-container {
  z-index: 1;
  width: 100%;

  @include respond-above(md) {
    border-radius: 20px 20px 20px 20px;
  }
}

.event-row {
  .slider-arrow-container {
    align-self: center !important;
    width: 100%;
    height: 100%;

    > img {
      align-self: center !important;
      min-height: 24px !important;
      min-width: 24px !important;
      height: 24px !important;
      width: 24px !important;

      @include respond-above(sm) {
        height: 28px !important;
        width: 28px !important;
      }

      @include respond-above(md) {
        height: 32px !important;
        width: 32px !important;
      }

      @include respond-above(lg) {
        height: 48px !important;
        width: 48px !important;
      }
    }

  }

}

.event-row {
  position: relative;

  &:nth-child(odd) {
    @include respond-above(md) {
      background-color: $calcite-white-bigfoot;
    }

    .event-book-now-btn {
      background-color: $green-bigfoot;
    }
  }

  &:nth-child(even) {
    
    @include respond-above(md) {
      background-color: $light-gray-bigfoot;
    }

    .event-book-now-btn {
      background-color: $red-bigfoot !important;
    }

  }

  &:nth-child(3n + 1) {
    p.event-side-label {
      @include transparent_text($green-bigfoot, 2px);
    }
  }
  &:nth-child(3n + 2) {
    p.event-side-label {
      @include transparent_text($red-bigfoot, 2px);
    }
  }
  &:nth-child(3n + 3) {
    p.event-side-label {
      @include transparent_text($obsidian-black-bigfoot, 2px);
    }
  }
}

.event-content-container {
  border-radius: 20px 20px 20px 20px;
  background: #f9f9f9;
  overflow: hidden;
}

.event-carousel-details {
  position: relative;
  color: $obsidian-black-bigfoot;
  z-index: 10;
  overflow: hidden;
  @include respond-above(md) {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;

    padding-bottom: 1.25vw;
    padding-top: 1.25vw;
    @include set-background-text-color($obsidian-black-bigfoot);
  }

  @include respond-above(xl) {
    padding-bottom: 1.5vw;
    padding-top: 1.5vw;
  }


}

.event-heading {
  font-family: $font-style-bebas;
  font-size: 2rem;
  @include respond-below(md) {
    margin-top: 15px;
    font-size: 40px;
  }

  &.long-heading {
    @include respond-above(lg) {
      font-size: 40px;
    }

    @include respond-above(xl) {
      font-size: 48px;
    }
  }

  @include respond-between(sm, md) {
    font-size: 40px;
  }

  @include respond-above(md) {
    font-size: 38px;
  }

  @include respond-above(lg) {
    font-size: 48px;

  }

  @include respond-above(xl) {
    font-size: 50px;
  }

  letter-spacing: 0;
  line-height: 1.2;
}

.event-description {
  font-family: $font-style-lato;
  font-size: 0.875em;
  letter-spacing: 0;
  line-height: 1.5;
  margin: auto 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;

  @include respond-above(sm) {
    font-size: 1em;
  }

  @include respond-above(xl) {
    font-size: 1.125em;
  }
}

.event-book-now-btn {
  font-family: $font-style-bebas;
  letter-spacing: 0.1125em;
  line-height: 1.2;
  text-align: center;
  font-size: 1.5em !important;


  background-color: $green-bigfoot !important;
  color: $calcite-white-bigfoot !important;

  &-crsl {
    @include respond-above(md) {
      width: 85%;
    }
    @include respond-above(xl) {
      width: 65%;
    }

  }

}

.btn-book-now-events-mobile {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  a {
    padding: 5px 50px;
  }
}

.event-side-label-container {
  @extend %side_label_layout;
  @extend %rotated_left;
  font-family: $font-style-bebas;
  @include font-size(6.25rem);
  line-height: 1.2;
  letter-spacing: 0;
  align-content: center;
  max-width: 8vw;
  z-index: 0;
  top:0;
  bottom: 0;


  p.event-side-label {
    text-align: center;
  }

}

.event-side-label-container-inner {
  display: none;

  @include respond-above(xxl) {
    display: block;
    padding-top: 0.4em;
  }
}



// Carousel properties
#eventsCarousel .event-carousel-details {
  position: absolute;

}

.carousel-item img {
  z-index: -1;
  width: 100%;

  @include respond-above(xl) {
    max-height: 700px !important;
  }

  @include respond-above(xxl) {
    max-height: 750px !important;
  }
}


