.faq {

  &-content {
    /*TODO: Zameniti generalni (body font), umesto pojedinacnih blokova*/

    justify-content: center;
    @media (max-width: $breakpoint-mobile) {
      justify-content: space-between;
    }

    .content-left {
      p {
        display: inline-block;
      }
    }

    font-family: $font-style-bebas;
  }

  #s-in-faq {
    font-size: 0.806em;
    margin-left: -0.5vw;
    @media (max-width: $breakpoint-mobile) {
      font-size: 0.762em;
    }
  }

  #p-faq {
    margin-left: 1.25vw;
    @include font-size(72px);
    /* font-size: 4.5em;

     @media (max-width: $breakpoint-mobile) {
       font-size: 3.5em;
     }*/
  }

  #question {
    opacity: 0.7;
    font-size: 2.625em;

    @media (max-width: $breakpoint-mobile) {
      font-size: 2em;
    }
  }

  &-btn {
    display: flex;
    justify-content: end;

    @media (max-width: $breakpoint-mobile) {
      align-items: center;

    }
    &-img{
      margin-left: 2.376vw;
    }
  }

  &-item {
    margin-bottom: 3%;
  }
}

#collapseFaq {


  h1 {
    font-family: $font-style-bebas;
    font-size: 1.5em;

    color: #172632;
    letter-spacing: 0;
    line-height: 1.208em;
  }

  p {
    font-family: $font-style-lato;
    font-size: 1.125em;
    max-width: 90%;

    opacity: 0.75;
    color: #131415;
    letter-spacing: 0;
    line-height: 1.33em;
  }
}

.rotate {
  transition: 0.3s ease;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.normal {
  transition: 0.3s ease;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.collapse-container {
  .collapsing {
    transition: 0.6s ease-in-out;
  }
}

