@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$font-style-bebas: "Bebas Neue", sans-serif;
$font-style-lato: "Lato", sans-serif;
$font-style-montserrat: "Montserrat", sans-serif;


@function set-text-color($color) {
  @if (type_of($color) !='color' or lightness($color) < 70) {
    @return #FFFFFF;
  } @else {
    @return #131415;

  }
}

@mixin set-background-text-color($color) {
  background: $color;
  color: set-text-color($color);
}


