.header {
  min-height: 100px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-bigfoot {
  min-height: 99px;
}

.navbar {
  transition: background-color 0.5s ease;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  border-radius: 0 0 10px 10px;
  .navbar-brand {
    width: 51px;
    height: 61px;
  }
  .navbar-collapse {
    text-align: center;
    ul {
      margin: 0 auto;
      li {
        @include respond-below(lg) {
          margin-top: 30px;
        }
        @include respond-above(lg) {
          margin-left: 40px;
        }
        a {
          color: #ffffff;
          opacity: 0.51;
          font-family: "Lato", sans-serif;
          @include respond-below(lg) {
            font-size: 24px;
          }
          @include respond-above(lg) {
            font-size: 18px;
          }
          &:hover {
            text-decoration: none !important;
            opacity: 0.8;
          }
        }
      }
    }
  }
  @include respond-below(lg) {
    .contact-mobile {
      display: block;
    }
    .contact-desktop {
      display: none;
    }
  }
  @include respond-above(lg) {
    .contact-mobile {
      display: none;
    }
    .contact-desktop {
      display: block;
    }
  }
}

.primary-nav {
  .current-menu-item.page_item {
    a {
      opacity: 1 !important;
      font-weight: bold;
    }
  }
}

.contact-us-btn {
  @include respond-below(lg) {
    margin-top: 50px;
    margin-bottom: 50px;
    .button-border {
      width: 182px;
      margin: 0 auto;
    }
  }
  button {
    border-radius: 7px;
    font-family: $font-style-bebas;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    width: 180px;
    height: 50px;
    border: 0;
  }
}

// white background header

.white {
  background-color: #ffffff !important;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  .navbar-toggler {
    span {
      background-color: $black-bigfoot !important;
    }
  }
  .white-logo {
    display: none;
  }
  .dark-logo {
    display: block !important;
    @include respond-below(lg) {
      width: 32px;
      height: 32px;
      margin-left: 10px;
      margin-top: 10px;
    }
  }
  ul {
    li {
      a {
        color: $black-bigfoot !important;
      }
    }
  }
  .contact-us-btn {
    .button-border {
      position: relative;
      background: $hero-background;
      padding: 1px;
      border-radius: 9px;
      button {
        color: $black-bigfoot;
        background-color: #ffffff;
      }
    }
    &:hover {
      .button-border {
        background: #ffffff;
        padding: 1px;
        border-radius: 9px;
        button {
          color: #ffffff;
          background: $hero-background;
        }
      }
    }
  }
}
// end of white background header
// transparent background header
.transparent {
  ul {
    li {
      a {
        color: #ffffff;
        opacity: 0.51;
      }
    }
  }
  .contact-us-btn {
    button {
      color: #ffffff;
      background-color: transparent;
    }
  }
  .contact-us-btn {
    .button-border {
      button {
        border: 1px solid #ffffff;
        color: #ffffff;
        background-color: $hero-background;
      }
    }
    &:hover {
      .button-border {
        button {
          color: $black-bigfoot;
          background: #ffffff;
        }
      }
    }
  }
}
.dark-logo {
  display: none;
}

// end of transparent background header

//Hamburger menu toggler
$font-header: white;
$nav-toggler-line-height: 5px;
$nav-toggler-line-spacing: 5px;
$logo-height: 120px;

.navbar-toggler {
  color: $font-header;
  border: none;
  width: 40px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.navbar-toggler span {
  display: block;
  position: absolute;
  height: $nav-toggler-line-height;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navbar-toggler span:nth-child(1) {
  top: 0;
}

.navbar-toggler span:nth-child(2), .navbar-toggler span:nth-child(3) {
  top: calc(#{$nav-toggler-line-height} + #{$nav-toggler-line-spacing});
}

.navbar-toggler span:nth-child(4) {
  top: calc((#{$nav-toggler-line-height} + #{$nav-toggler-line-spacing}) * 2);
}

button[aria-expanded="true"] span:nth-child(1) {
  top: calc(#{$nav-toggler-line-height} + #{$nav-toggler-line-spacing});
  width: 0%;
  left: 50%;
  background: $black-bigfoot;
}

button[aria-expanded="true"] span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: $black-bigfoot;
}

button[aria-expanded="true"] span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: $black-bigfoot;
}

button[aria-expanded="true"] span:nth-child(4) {
  top: calc(#{$nav-toggler-line-height} + #{$nav-toggler-line-spacing});
  width: 0%;
  left: 50%;
  background: $black-bigfoot;
}

// End of hamburger menu