.hero-section {
  padding-top: 100px;
}

.small-hashtag-top {
  opacity: 0.48;
  color: $calcite-white-bigfoot;
  font-family: $font-style-bebas;
  @include font-size(40);
  letter-spacing: 2px;
  line-height: 3rem;
}

.big-foot {
  color: #FFFFFF;
  font-family: $font-style-bebas;
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 2.625rem;
}


.hero-content-main {
  @include respond-above(lg) {
    margin-top: 2.5rem; // size of hashtag font size (above image)
  }

}

// TODO: Izbaciti sve iz pb-hero, da ide samostalnije, nema potrebe za ugnjezdavanjem tolikim
.pb-hero {
  $background: $hero-background;

  @include respond-above(lg) {
    border-radius: 0 0 30px 30px;
  }
  @include set-background-text-color($background);

  .hero-image-content-container {
    max-height:600px;

    @include respond-above(lg) {
      max-height: 700px;
    }

    @include respond-above(xl) {
      max-height: 800px;
    }

  }

  .hero-image {
    position: relative;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 462px;

    @include respond-above(xxl) {
      max-width: 693px;
    }
    /*width: 100%;
    height: 100%;*/
  }

  .swiper-hero {
    z-index: 10;
    .swiper-slide {
      overflow: visible !important;
    }

  }

  .hero {
    .image-figure {
      display: flex;
      flex-direction: column;
    }

    &-text {
      /*font-size: 2rem;*/
      font-size: 3.4375rem;
      max-width: 100%;

      /*@include respond-between(sm, md) {
        max-width: 90%;
      }*/

      @include respond-below(xs) {
        font-size: 2.8em;
      }

      @include respond-above(sm) {
        font-size: 3.7em;
      }

      @include respond-above(md) {
        max-width: 100%;
        font-size: 3.4em;
      }

      @include respond-above(lg) {
        font-size: 3.7em;
      }

      @include respond-above(xl) {
        max-width: 100%;
        font-size: 4.3em;
      }

      @include respond-above(xxl) {
        max-width: 100%;
        font-size: 4.85rem;
      }

      color: $calcite-white-bigfoot;
      font-family: $font-style-bebas;
      line-height: 1.2;
    }

    &-hash-captions {
      display: flex;
      flex-direction: column;

      * > {
        vertical-align: top;
        padding: 0;
        margin: 0;
      }

      %hash-caption-single {
        font-family: $font-style-bebas;
        color: #FFFFFF;
        display: block;
        line-height: 1;
      }

      .hash-main {
        @extend %hash-caption-single;
        opacity: 0.84;
        /*font-weight: bold;*/
        /*font-weight: bold;*/
        font-size: 100px;

        @include respond-above(md) {
          font-size: 125px;
        }
        @include respond-above(lg) {
          font-size: 150px;
        }
        @include respond-above(xl) {
          font-size: 175px;
        }

        @include respond-above(xxl) {
          font-size: 200px;
        }
        margin-top: -0.15em;
        overflow: visible;
      }

      .hash-sub {
        @extend %hash-caption-single;
        opacity: 0.28;
        @include font-size(80);
      }

    }

  }

  .hero-btn-wrapper {
  }

  .book-now {
    @include font-size(40);
    color: #088181;
    font-family: $font-style-bebas;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    /*padding: 0.15em 0.15em;*/
    letter-spacing: 2px;
    @include respond-above(lg) {
      padding: 0 1em;
    }
    @include respond-above(xl) {
      padding: 0 1.5em;
    }
    /*padding: 0.2rem 1.1em;*/

    /*@include respond-above(md) {
      padding: 0.1em 1em;
    }

    @include respond-above(xl) {
      padding: 0.2rem 2em;
    }*/
    background-color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 5px 10px 0 rgba(23, 38, 50, 0.2);
    white-space: nowrap;
  }

  .have-a-question {
    opacity: 0.48;
    color: #FFFFFF;
    font-family: $font-style-lato;
    letter-spacing: 0;
  }

}