
.locations-wrapper {
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
  @include respond-below(sm) {
    flex-direction: column;
  }
  @include respond-above(sm) {
    flex-direction: row;
  }

  .location {
    min-width: 275px;
    max-width: 100%;
    display: block;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    text-decoration: none !important;
    background-size: contain;
    position: relative;
    overflow: hidden;
    &:hover {
      border: double 1px transparent;
      background-image: linear-gradient(white, white), radial-gradient(circle at top left, #008282 16%, #ff525b 100%);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
    @include respond-below(sm) {
      margin: 10px 0 10px 0;
    }
    @include respond-above(sm) {
      margin: 0 10px 0 10px;
      margin: 5px;
    }

    .image-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #ffffff;
      border-radius: 8px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    p {
      opacity: 0.42;
      text-decoration: none !important;
      text-align: center;
      color: #131415;
      font-family: $font-style-bebas;
      font-size: 34px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 1.235;
      padding-top: 128px;
    }
  }
}