.pb-our-customers {
  margin-top: 0;
  box-shadow: 0 0 48px -12px rgba(0,0,0,0.1);

  @include respond-above(md) {
    margin-top: 110px;
  }
}

.our-customers-header {
  position: relative;
}
#our-customers-title {
  color: #172632;
  font-family: $font-style-bebas;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 76px;
  margin: 0;
  padding-top: 30px;
  text-align: center;
  @include respond-above(sm) {
    font-size: 3rem;
    text-align: start;
  }
  @include respond-above(md) {
    text-align: start;
    font-size: 3.875rem;
  }
}

#our-customers-hashtag {
  right: 0;
  font-family: $font-style-bebas;
  font-size: 190px;
  position: absolute;
  bottom: 0;
  opacity: 0.1;
  z-index: -1;
  line-height: 120px;

  @include respond-below(md) {
    display: none;
  }

  @include respond-below(lg) {
    font-size: 150px;
  }
}

.swiper-our-customers {
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.swiper-img-content {
  justify-content: center;
  position: relative;
  overflow: hidden;
  display: inline-block;

  #swiper-img-item {
    padding: 3%;
    border-radius: 8%;
  }
}


// follow us button
.our-customers-instagram {
  padding-bottom: 50px;
}

.follow-us {
  button {
    padding: 10px 40px 10px 15px;
    @include respond-below(md) {
      padding: 5px 20px 5px 20px;
    }
  }
  .instagram-logo,
  .instagram-logo-white {
    width: 40px;
    height: 40px;
    @include respond-below(md) {
      width: 20px;
      height: 20px;
    }
    background-size: contain;
  }
  .instagram-logo-white {
    display: none;
  }
  &:hover {
    text-decoration: none;
    .instagram-logo {
      display: none;
    }
    .instagram-logo-white {
      display: block;
    }
  }
  p {
    margin: 4px 0 0 40px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 34px;
    @include respond-below(md) {
      margin: 4px 0 0 20px;
      font-size: 24px;
    }
  }
}
// end of follow us button
