@mixin insert_package_background_colors($background_color : null, $highlighted_package_color : null) {
  @if ($background_color) {
    background-color: $background_color !important;
  } @else {
    background: none;
  }

  @if ($highlighted_package_color) {
    &.package-highlighted {
      background-color: $highlighted_package_color !important;
    }
  }
}

@mixin insert_package_font_colors($name_color,$price_color, $hours_color, $offers_color) {
  .name {
    color: $name_color !important;
  }
  .price {
    color: $price_color !important;
  }
  .hours {
    color: $hours_color !important;
  }
  .offers {
    color: $offers_color !important;
  }
}

%package-layout {
  border-radius: 7px;
  transition: all 0.1s;
  letter-spacing: 0;
  font-family: $font-style-bebas;
  position: relative;

  h5 {
    margin-top: 0;
  }

  .overlay-max {
    z-index: 5000;
  }

  .package-item {
    @extend %package-item-layout;

    .offers {
      > ul {
        padding-left: inherit;
        list-style-position: inside;
        margin-bottom: 0;

        > li {
          font-size: 14px;
          line-height: 1.3;
          white-space: nowrap;

          @include respond-above(sm) {
            font-size: 16px;
          }

          @include respond-above(xl) {
            font-size: 20px;
          }
          /*white-space: nowrap;*/
        }
      }
    }

  }

  .name, .hours, .price {
    white-space: nowrap;
  }

  .hours, .price {
    text-align: left;
    line-height: 1em;
  }

  .name {
    font-size: 2.8125em;
    text-align: center;
    margin-bottom: 0.25em;
  }

  .hours {
    font-size: 2em;
  }

  .price {
    font-size: 3.25em;
  }

  .package-details {
    * {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .offers {
    font-family: $font-style-montserrat;
    letter-spacing: -0.9px;
  }

  .bn-btn {
    /*@extend %bigfoot-btn;*/
    @include create_bigfoot_button($calcite-white-bigfoot, $obsidian-black-bigfoot, $obsidian-black-bigfoot);

    @include font-size(2rem);
  }
}

@mixin package-highlighted() {
  font-weight: 500;
}

%package-item-layout {
  width: 100%;


  h5 {
    margin-bottom: 0;
  }
}

/*----- Section scss start -----*/
section.pricing {
  width: 100%;
}

.main-pkg-container-printbooth {

  @include respond-below(sm) {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  @include respond-above(sm) {
    margin-top: 55px;
  }
  @include respond-above(lg) {
    margin-top: 70px;
  }
}

.packages-photobooths-hash {
  display: none;

  @include respond-above(md) {
    display: block;
    position: relative;
  }
  color: #131415;
  opacity: 0.04;
  margin: 0;
  line-height: 0.9;
  z-index: 1;
  font-family: $font-style-bebas;
  @include font-size(11rem);
}

.pricing-heading {
  @extend %section_heading;
  text-align: center;
}

.pkg-heading-printbooth{
  font-weight: 400;

  @include respond-below(sm) {
    text-align: left;
    font-size: 56px;
    line-height: 67px;
  }
}

.pkg-subheading-printbooth {
  color: #202020;
  font-family: "Bebas Neue";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 37px;
  margin-bottom: 5%;
}

.pkg-heading-chewybooth{
  font-weight: 400;

  @include respond-below(sm) {
    font-size: 32px;
    line-height: 38px;
    max-width: 70%;
  }
}

.pkg-type-printbooth {
  font-weight: 400;

  @include respond-above(md) {
    position: absolute;
    top: 25px;
  }


  @include respond-below(sm) {
    font-size: 42px;
    line-height: 52px;
  }
}

.custom-branding-offer {
  color: #131415;
  font-family: $font-style-bebas;
  font-size: 26px;
  line-height: 28px;
  margin-top: 5%;
}

.custom-branding-offer-slim {
  @extend .custom-branding-offer;
  font-weight: 100;
}

.packages-container {
  &-printbooth {
    div[class^="col"] {
      padding-left: 10px;
      padding-right: 10px;
    }

    @include respond-above(lg) {
      div[class^="col"]:first-child {
        padding-left: 15px;
      }

      div[class^="col"]:last-child {
        padding-right: 15px;

      }
    }

  }


  &-chewy {
      margin: 5% 0;
  }

  /* }*/
}

.custom-quote-btn {
  display: none;
  background: linear-gradient($calcite-white-bigfoot, $calcite-white-bigfoot) padding-box,
  linear-gradient(to bottom, $green-bigfoot, $red-bigfoot) border-box;
  color: #313149;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 1em 0.7em;
  font-family: $font-style-bebas;
  font-size: 1.4rem;
  align-self: center;

  &-inline {
    @include respond-above(lg) {
      display: inline-block;
    }
  }

  &-block {
    @include respond-below(lg) {
      margin: 5% 0;
      display: block;
    }
  }
}

.get-a-custom-quote-btn {
  padding: 10px 20px 15px 20px;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  .upper {
    font-size: 24px;
    margin-bottom: 0;
  }
  .bottom {
    margin-bottom: 0;
    font-size: 36px;
    text-decoration: underline;
  }
}

.print-booth {
  @extend %package-layout;
  @include insert_package_background_colors($light-gray-bigfoot, $red-bigfoot);
  @include insert_package_font_colors($red-bigfoot, $green-bigfoot, $dark-blue-bigfoot, $dark-blue-bigfoot);
  list-style-image: url('../assets/Packages/checkbox-black.svg');
  padding: 30px 20px 20px;

  .bn-btn {
    margin-top: 15%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .offers {
    margin-top: 0.5em;
  }

  &.package-highlighted {
    @extend .print-booth;
    @include package-highlighted();
    @include insert_package_font_colors($calcite-white-bigfoot, $calcite-white-bigfoot, $calcite-white-bigfoot, $calcite-white-bigfoot);

    box-shadow: 0 12px 16px -4px rgba(0, 0, 0, 0.1);
    list-style-image: url('../assets/Packages/checkbox-white.svg');

    .hours {
      @include font-size(100);
    }

    .bn-btn {
      @include create_bigfoot_button($obsidian-black-bigfoot, $calcite-white-bigfoot, $calcite-white-bigfoot);
      max-width: 100% !important;
      border: none;
    }

    .side-label {
      position: absolute;
      top: 3%;
      right: 5%;
      height: 33%;
    }


  }
}

.chewy-description {
  @include respond-above(xl) {
    width: 75%;
  }
}



.chewy-booth {
  @extend %package-layout;
  @include insert_package_background_colors(null, $calcite-white-bigfoot);
  @include insert_package_font_colors($dark-blue-bigfoot, $dark-blue-bigfoot, $dark-blue-bigfoot, $dark-blue-bigfoot);
  border: 1px solid $dark-white-bigfoot;

  @include respond-above(sm) {
    margin-left: auto;
    margin-right: auto;

  }

  padding: 50px 30px 25px;

  .package-item {
    height: 100%;
    width: 100%;
  }

  @include respond-below(sm) {
    width: 100%;
  }

  .offers {
    letter-spacing: -0.9px;
    padding-top: 5px;
    margin-top: 0 !important;
  }

  .price {
    @include font-size(42);
  }

  .bn-btn {
    max-height: 50px;
    padding-top: .25em;
    padding-bottom: .25em;
    background-color: $dark-white-bigfoot;
    border: none;
    margin-top: 0.5em;
  }

  .hours {
    @include font-size(5rem);
  }

  &.package-highlighted {
    @include package-highlighted();
    @include insert_package_font_colors($dark-blue-bigfoot, $dark-blue-bigfoot, $green-bigfoot, $dark-blue-bigfoot);
    box-shadow: 0 24px 48px -12px rgba(0, 0, 0, 0.14);


    .bn-btn {
      background-color: $green-bigfoot !important;
      border-color: $green-bigfoot !important;
    }
  }
}

/* Hover Effects on Card */
@include respond-above(sm) {
  div.chewy-booth:hover, div.chewy-booth:hover {
    margin-top: -.1em;
    margin-bottom: .1em;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.3) !important;

  }
}

@include respond-above(lg) {
  div.print-booth:hover, div.print-booth:hover {
    margin-top: -.1em;
    margin-bottom: .1em;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.3) !important;

  }
}

.swiper-packages-printbooth {
  overflow: visible !important;
  .print-booth .package-item {
    .name {
      @include respond-below(sm) {
        font-size: 32px !important;
      }
    }
  }

  .print-booth.package-highlighted .package-item {
    .hours {
      font-size: 70px;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    background-color: blue;
    padding-top: 3vh;
    padding-bottom: 3vh;
    overflow: visible;
  }

  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .print-booth {
      width: 100%;

    }
  }
}

div.swiper-packages-chewybooth.swiper-container {
  overflow: hidden !important;

  div.swiper-container {
    overflow: hidden !important;
  }

  .swiper-wrapper {
    @include respond-below(sm) {
      .swiper-slide:first-child {
        .chewy-booth {
          margin-left: 15px;
        }
      }
      .swiper-slide:last-child {
        .chewy-booth {
          margin-right: 15px;
        }
      }
    }
  }

  .almost-hidden {
    max-width: 1px;
  }
  .swiper-slide-active {
    opacity: 1;
    /*background: red;*/
  }


  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .chewy-booth {
    .hours {
      font-size: 65px;
      color: $green-bigfoot !important;
    }
    .price {
      font-size: 32px;
      font-weight: bold;
    }

    .offers {
      margin-top: 300px;

      li {
        line-height: 1.65;
      }

    }

    .bn-btn {
      border: 2px solid $red-bigfoot !important;
      border-radius: 6px !important;
      background-color: $calcite-white-bigfoot !important;
      color: inherit;
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}

.digital-hash-img {
  margin-left: -15px !important;
  margin-bottom: -50px !important;
}









