div#partners {
  padding: 1em 0;
}

.partner-image-container {

  padding-top: 1vw;
  padding-bottom: 1vw;

  > img {
    width:100%;
    height:100%;
    display: block;
    margin: 10px auto;

    object-fit: contain;
    max-width: 65px;
    max-height: 45px;

    @include respond-above(sm) {
      max-width: 70px;
      max-height: 50px;
    }

    @include respond-above(lg) {
      max-width: 100px;
      max-height: 60px;
    }

    @include respond-above(xl) {
      max-width: 110px;
      max-height: 70px;
    }

  }
}