//.quotes-header {
//  margin-bottom: 15vh;
//}
//.quotes-box {
//  border-radius: 1rem;
//  background-color: $green-bigfoot;
//  text-align: center;
//  /*color: set-text-color($body-background-light);*/
//  box-shadow: 0 0 48px -12px rgba(0, 0, 0, 0.1);
//  margin-right: 11vw;
//  margin-left: 11vw;
//  padding-top: 3vh;
//  padding-bottom: 3vh;
//  margin-bottom: 7vh;
//}
//
//.quotes-content {
//  color: #FFFFFF;
//  //font-size: 1em;
//
//  #quotes-header {
//    display: inline-block;
//    margin-left: -100%;
//    margin-right: -100%;
//    word-break: break-all;
//    @extend %section_heading_white;
//    line-height: 86px;
//  }
//
//  button {
//    margin-top: 5vh;
//  }
//
//  #quotes-text {
//    font-family: $font-style-lato;
//    font-size: 1em;
//
//    @include respond-above(sm) {
//      font-size: 1.1em;
//    }
//
//    //font-weight: 500;
//    //letter-spacing: 0;
//    //text-align: center;
//    //font-family: $font-style-montserrat
//  }
//
//  #quotes-link-text {
//
//  }
//}

.quotes-container {
  padding: 0 !important;
  margin: 5% auto !important;
}

.quotes_heading {
  display: inline-block;
  margin-bottom: 3vh;
}

.quotes-box {
  margin: 0 auto;
  border-radius: 1rem;
  background-color: $green-bigfoot;
  text-align: center;
  /*color: set-text-color($body-background-light);*/
  box-shadow: 0 0 48px -12px rgba(0, 0, 0, 0.1);
  padding: 3vh 0;

  &-content {
    margin: 0 auto;
    width: 80%;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;

    h2 {

      font-size: 3em;
      font-family: $font-style-bebas;
      letter-spacing: 0;
      //line-height: 58px;
    }

    p {
      font-size: 1em;

      @include respond-above(sm) {
        font-size: 1.175em;
      }

      @include respond-above(lg) {
        font-size: 1.375em;
      }

      font-weight: 500;
      letter-spacing: 0;
      text-align: center;
      font-family: $font-style-montserrat
    }
  }
}

#quotes-link-text {
  display: block;
  color: #F9535C;
  font-family: $font-style-bebas;
  font-size: 1.5rem;
  letter-spacing: 1.41px;
  line-height: 29px;
  text-align: center;
  font-weight: 500;
}

#quotes-btn {
  height: 50px;
  width: 240px;
}