%section_heading {
  @include font-size(4.5rem);
  font-family: $font-style-bebas;
  font-weight: bold;
  letter-spacing: 0;
  color: #131415;
}

.section_heading {
  @extend %section_heading;
}

%section_heading_white {
  @include font-size(4.5rem);
  font-family: $font-style-bebas;
  letter-spacing: 0;
  color: #FFFFFF;
}

.section_heading_white {
  @extend %section_heading_white;
}