.pb-services {
  font-family: $font-style-bebas;
  background-color: #F6F6F6;
  position: relative;

  .services {
    padding:20px 20px;
  }


  #service-title {
    font-size: 2rem;
    letter-spacing: 0;

    @include respond-above(sm){
      line-height: 86px;
    }

    @include respond-above(sm) {
      font-size: 3rem;

    }
    @include respond-above(md) {
      font-size: 3.875rem;
    }

  }

  .services-hashtag {
    display: none;
    @include respond-above(xxl) {
      display: block;
      position: absolute;
      top: 50%;
      right: 2.5vw;
      transform: translate(0, -50%);

    }
  }

  .services {

    .service-item {
      margin-bottom: 2%;
    }
    h2 {
      line-height: 120%;
      width: 200px;

      color: #131415;
      font-size: 2.125rem;
      letter-spacing: 0;
    }

    p {
      padding-bottom: 5%;
      font-family: $font-style-lato;
      font-size: 1rem;
      line-height: 19px;
      width: 100%;
      padding-right: 10%;

      @include respond-above(lg) {
        padding-right: 2%;
        width: 93%;
      }
    }

    .service-img {
      position: absolute;
      bottom: 0;
    }

    .service-link {
      display: inline-block;
      color: #F9535B;
      font-size: 1.125em;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 23px;

      .service-link-img {
        padding-bottom: 0;
        margin: 0;
      }
    }

  }

}


.service-image-container {
  height: 50px;
  position: relative;
  margin-left: 1%;
  margin-bottom: 8%;
}

.service-title-container {
  height: 83px;
  margin-bottom: 7%;
}

.eight-item-main {
  margin: auto;
}