%side-hashtag-label {
  display: none;
  position: absolute;
  right: auto;

  //zez
  @keyframes flicker {
    0%    { opacity: 1; }
    3%    { opacity: 0.4;}
    6%    { opacity: 1;}
    7%    { opacity: 0.4; }
    8%    { opacity: 1;   }
    9%    { opacity: 0.4; }
    10%   { opacity: 1;   }
    100%  { opacity: 1;   }
  }
  -webkit-animation: flicker 4s infinite step-end;
  -moz-animation: flicker 4s infinite step-end;
  -o-animation: flicker 4s infinite step-end;
  animation: flicker 4s infinite step-end;

  @include respond-above(xxl) {
    display: block;
    left: 0;
    align-self: center;
  }

  @media (min-width: 1500px) {
    left: 2.5vw;
  }
}

%side-hashtag-right {
  @extend %side-hashtag-label;
  left: auto;
  right: 2.5vw;
  top:50%;
  bottom: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

%side-hashtag-image {
  display: none;
  position: absolute;
  top: 0;
  bottom: 15%;
  margin-top: auto;
  margin-bottom: auto;
  @include respond-above(xl) {
    display: block;
  }
}

.side-hashtag-image {
  @extend %side-hashtag-image;
  right: 2.5vw;
}

.side-hashtag-image-left {
  @extend %side-hashtag-image;
  left: 2.5vw;
}

.side-hashtag {
  @extend %side-hashtag-label;
}

.side-hashtag-right {
  @extend %side-hashtag-right;
}

%side_label_layout {
  display: none;
  @include respond-above(xxl) {
    display: block;
    position: absolute;
    top: auto;
    bottom: auto;
    left: 2.5vw;
    align-self: center;
  }
}

%rotated_left {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}