$enable-responsive-font-sizes: true;
/*@import "../node_modules/rfs/scss";*/
@import "bootstrap_overrides";
@import "config";
@import "font-styles";
@import "media_query_utils";
@import "side_label_styles";
@import "button-styles";
// Required
// * Whole Bootstrap import at bottom
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/grid";
@import "section-headings";
@import "header";
@import "hero";
@import "partners";
@import "about-us";
@import "packages";
@import "booths";
@import "faq";
@import "addons";
@import "events";
@import "services";
@import "contact-us";
@import "quotes";
@import "our_customers";
@import "location-maps";
@import "elements";
@import "google-gallery";

* {
  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
}



%bigfoot-big-heading {
  @include font-size(5rem);
  line-height: 1.2;
  font-family: $font-style-bebas;
}

%bigfoot-big-heading-nosize {
  line-height: 1.2;
  font-family: $font-style-bebas;
}

section.section-header {
  &.header-hero {
    padding: 4.5vh 0;
  }

  &.header-single-page {
    //padding: 2.5vh;
  }

}

html {
  scroll-behavior: smooth;
  width: 100%;
  font-size: 16px;

}

body {
  background-color: $calcite-white-bigfoot !important;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body * {
  /*border: 1px #e982a6 solid;*/
}

.stretch-to-full-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
}

main#site-content {
  display: block;
  width: 100%;

  > div {
    vertical-align: top;
  }
}

.pb-faq {
  $background: $light-gray-bigfoot;
  @include set-background-text-color($background);
}

.pb-packages {
  $background: #FFFFFE;
  @include set-background-text-color($background);
}

.lgx-logo-slider-wp .lgx-logo-wrapper {
  padding: 0 0;
}

.rotate {
  margin-left: 2.376vw;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.normal {
  margin-left: 2.376vw;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.owl-stage-outer {
  padding: 2rem auto;

  .owl-stage {
    @include make-row();
    justify-content: space-between;
    align-items: center;

    .owl-item.active {
      @include make-col(4);
      padding-top: 0;
      justify-content: center;

      @include media-breakpoint-up(lg) {
        @include make-col(2);
      }

      // Da li treba link ka partnerima?
      > * {
        pointer-events: none;
      }

      .lgx-logo-item {
        > img {
          margin: 1.5em auto;
        }
      }
    }
  }
}

.contact-us-link {
  color: #FFFFFF;
  font-family: $font-style-lato;
  font-size: 1.1125rem;
  font-weight: 500;
  text-decoration: underline;
  letter-spacing: 0;
  line-height: 1.22;
  &:hover {
    color: $red-bigfoot;
  }
}

.pb-footer {
  background: linear-gradient(90deg, #008282 0%, #FF525B 100%);

  &-text {
    color: #F7F7F7;
    margin-top: auto;
    margin-bottom: auto;
    font-family: $font-style-lato;
    font-size: 0.7em;

    @include respond-below(sm) {
      font-size: 0.5em;
    }
    font-weight: bold;
    letter-spacing: 0;
  }
}


@import "../node_modules/bootstrap/scss/bootstrap";
